<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Domain" value="uk.gdst"/>
    <add key="DefaultOU" value="DC=uk,DC=gdst"/>
    <add key="DefaultRootOU" value="DC=uk,DC=gdst"/>
    <add key="ServiceUser" value="uk\nclappvadmin"/>
    <add key="ServicePassword" value="appvadmin"/>
    <add key="ADGroup" value="NCL-App-V"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <connectionStrings>
    <add name="AppDatabase" connectionString="Data Source=UK-NCL-APPV;Database=AppVManagement;User id=web;Password=password123"/>
  </connectionStrings>
  

  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
